n8n/workflows/03_pipeline_trigger_monitor.json
{
  "name": "03 — Pipeline Trigger & Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "name": "Daily 02:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -520,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run-pipeline",
        "options": {}
      },
      "name": "Webhook trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -520,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8001/pipeline/trigger",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"dag_id\": \"dag_ingest\" }",
        "options": {}
      },
      "name": "Trigger dag_ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        290
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -60,
        290
      ]
    },
    {
      "parameters": {
        "url": "http://api:8001/pipeline/status/dag_ingest",
        "options": {}
      },
      "name": "Poll status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        290
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.state }}",
              "operation": "equal",
              "value2": "success"
            }
          ]
        }
      },
      "name": "Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        380,
        290
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.state }}",
              "operation": "equal",
              "value2": "failed"
            }
          ]
        }
      },
      "name": "Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        380,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8001/pipeline/trigger",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"dag_id\": \"dag_transform\" }",
        "options": {}
      },
      "name": "Trigger dag_transform",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8001/pipeline/trigger",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"dag_id\": \"dag_indicators\" }",
        "options": {}
      },
      "name": "Trigger dag_indicators",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"text\": \"❌ dag_ingest failed. Run: {{ $json.dag_run_id }}\" }",
        "options": {}
      },
      "name": "Slack failure alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        460
      ]
    }
  ],
  "connections": {
    "Daily 02:00": {
      "main": [
        [
          {
            "node": "Trigger dag_ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook trigger": {
      "main": [
        [
          {
            "node": "Trigger dag_ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger dag_ingest": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Poll status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll status": {
      "main": [
        [
          {
            "node": "Succeeded?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Succeeded?": {
      "main": [
        [
          {
            "node": "Trigger dag_transform",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed?": {
      "main": [
        [
          {
            "node": "Slack failure alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Trigger dag_transform": {
      "main": [
        [
          {
            "node": "Trigger dag_indicators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
